@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.dark input::placeholder {
  color: #191d24;
}
.light input::placeholder {
  color: #e7eaee;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
  box-shadow: unset !important;
}

input {
  outline: none !important;
  border: none !important;
  padding: 0 !important;
}
